$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';



body {
  color: white
};

input {
  color: black
};

.btn {
  margin-bottom: 10px
};

#myChart {
  max-width: 300;
  max-height: 300
};


.error {
  color: black;
};
